* {
  margin: 0;
  padding: 0;
  transition: 0.6s;
}

body {
  background-color: #FDEDF1;
}

.container {
  background-color: #340913;
  max-width: 100%;
  padding: 15px;
  margin: 0 auto;
}

.container2 {
  display: flex;
  text-align: justify;
  align-items: center;
  margin-top: 100px;
}

.livros {
  margin-right: 10%;
  margin-left: 10%;
}

p {
  font-size: 25px;
  color: #340913;
}

a {
  text-decoration: none;
}

.p-link-final {
  text-align: center;
}

h1 {
  color: #D61A46;
}

h3 {
  color: #D61A46;
}

.link-final {
  font-size: 25px;
  color: #340913;
  transition: 0.6s;
}

.link-final:hover {
  color: #D61A46;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .logo {
  font-size: 35px;
  font-style: italic;
  color: white;
  font-weight: bold;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  padding: 10px 20px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  border-radius: 40px;
  transition: 0.6s;
}

nav ul li a:hover {
  background-color: #D61A46;
}

footer {
  background-color: #340913;
  max-width: 100%;
  padding: 15px;
  margin: 0 auto;
  font-size: 35px;
  font-style: italic;
  color: white;
  font-weight: bold;
}

.inicio {
  background-color: white;
  font-size: 20px;
  padding: 15px;
  margin: auto;
  width: 50%;
  position: absolute;
  margin-left: 50px;
  margin-top: 100px;
}


h1 {
  margin-bottom: 70px;
  text-align: center;
}

.p1 {
  background-color: #FBDFE6;
  margin-left: 100px;
  margin-right: 200px;
  margin-top: 40px;
  font-size: 20px;
  text-align: justify;
}



.img1 {
  display: block;
  margin-left: auto;
  margin-right: 100px;
  margin-bottom: 20px;
}

img {
  margin-right: 5%;
}

h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  margin-top: 55px;
  font-size: 30px;
  margin-right: 700px;
}

.brid {
  text-align: justify;
  margin-left: 200px;
  width: 100%;
  font-size: 25px;
}

.toogle {
  display: none;
}

.toogle+label {

  width: 32px;
  height: 12px;
  background: rgb(255, 255, 255);
  display: block;
  position: relative;
  border-radius: 20px;
  padding: 2px;
  transition: 200ms;
  cursor: pointer;
}

.toogle+label::before {
  content: '';
  position: absolute;
  width: 12px;
  height: 12px;
  background: #340913;
  display: block;
  border-radius: 50%;
  right: unset;
  left: 2px;
  right: 2px;
  transition: 200ms;
}

.toogle:checked+label:before {
  content: '';
  left: calc(100% - 14px);
  box-shadow: 0 4px 4px rgb(0 0 0 / 10%);
}

.bridgertons {
  margin-top: 100px;
  margin-bottom: 20px;
  font-size: 50px;
}
